
body{
	margin:0px;
	padding: 0px;
}



.container{
	margin: 0px;
	padding: 0px;
	background: url("../images/bg.png") no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100vh;
	width:100%;
	position: static;
	background-size: 100% 100%; 

	
}

.bar{
	width: 100%;
	height: 120px;
	background: url("../images/bar.svg")no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top:5%;
	z-index: 1;
}


.logoContainer{
    height: 25%;
    width: 26%;
    /* background: red; */
    margin-left: 43px;
}


.logo{
	background: url("../images/logo.svg") no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position:relative;
	z-index: 2;
	/*left: 40px;*/

}

.mainAssets{
	height: 300px;
	width: 95%;
	position: absolute;
	background: red;
	margin: 0 auto;
	right:0;
	left: 0;
}

.mainAssests > div{
	margin: 0 auto;
}

.dragonContainer{
	background: white;
	width: 34%;
	display: inline-block;
	height: 100%;

}

.requestContainer{
	background: blue;
	width: 29%;
	display: inline-block;
	height: 100%;
	float: center;
	margin-left: 1%;
}

.tigerContainer{
	background: green;
	width: 34%;
	display: inline-block;
	height: 100%;
	float: right;

}



p{
	color: blue;
	
}
