
body{
	margin:0px;
	padding: 0px;	
}

.hidden{
	visibility: hidden;
}

.fa-check {
    top: 5px;
    position: relative;
}

/******************
Container
****************/

.container{
	margin: 0px;
	padding: 0px;
	background: url("../images/bg.png") no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100vh;
	width:100%;
	position: static;
	background-size: 100% 100%; 

}

.bar{
	width: 100%;
	height: 120px;
	background: url("../images/bar.svg")no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top:5%;
	z-index: 1;
}


.logoContainer{
    height: 25%;
    width: 26%;
    margin-left: 43px;
}


.logo{
	background: url("../images/logo.svg") no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position:relative;
	z-index: 2;
}

/************
Main images
************/

.mainAssets{
	height: 300px;
	width: 95%;
	position: absolute;
	margin: 0 auto;
	right:0;
	left: 0;
}

.mainAssests > div{
	margin: 0 auto;
}

.dragonContainer{
	
	width: 37%;
	display: inline-block;
	height: 100%;

}

.dragon{
	background: url("../images/dragon.svg") no-repeat;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}

.requestContainer{
	width: 24%;
	display: inline-block;
	height: 100%;
	float: center;
	margin-left: 1%;
	cursor: pointer;

}

.request{
	background: url("../images/request_info.svg");
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	cursor: pointer;
}

.tigerContainer{

	width: 36%;
	display: inline-block;
	height: 100%;
	float: right;
}

.tiger{
	background: url("../images/tiger.svg") no-repeat;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}

/****************
footer
************/
footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
}

#footer{
    width: 60%;
    float: left;
    display: inline;
    position: absolute;
    bottom: 0px;
    padding-left: 70px;
    /* background: red; */
    font-family: 'Vollkorn', serif;
}

#footer p{
	padding: 0px;
	float: left;
}

/*social icons*/
.Socialicons{
	width: 40%;
	text-align: center;
	background: transparent;
	color: #EAC117;
	display: inline;
	float: right;
    padding-right: 70px;
    padding-bottom: 3px;

}

.Socialicons a {
    color: #EAC117;
    padding: 0px;
    padding-right: 5px;
    text-decoration: none;
    float: right;
}


.Socialicons a i {
	font-size: 1.7em;
	margin: 5px;
}


p{
	padding:0px;
	margin: 0px;
	color: #FFD700;
	padding-bottom: 5px;
	text-align: center;

}
 /*footer media query*/



/***********
Form 
*********/


.formContainer{
   display: none;
    width: 80%;
    margin: 0 auto;
    min-height: 60%;
    background-image: linear-gradient(to bottom, #000 , #0d7865, #0d7078);
    opacity: 1;
    background-size: 100% 100%; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 2;
	border-radius: 15px;
    border-right:6px solid rgba(234, 193, 23,1);
	border-left: 6px solid rgba(234, 193, 23,1);;
 	border-top: 6px solid rgba(168,131,0,1);
 	border-bottom: 6px solid rgba(168,131,0,1);
 	border-style: ridge;
 	font-family: 'Vollkorn', serif;
 	font-weight: bold; 
 }


.exit{
    font-size: 2.5em;
    /* background: blue; */
    width: 5%;
    text-align: center;
    float: right;
}

.fa-times{
	color: #EAC117;
}




.header{
	text-align: center;
	color: #FFEF6C;
	font-size: 2.7em;
	padding-top: 30px;
	padding-bottom: 15px;
	font-weight: bold;

}


.banner{
	background: rgba(3,40,30,.6);
	width: 100%;
	padding-top:13px;

}

.banner input {
    margin: 0 auto;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}


.infoContainer{
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

.infoButton{
	display: inline;
    padding-right: 7%;
}

.infoButton label{
    padding-left: 5px;
    font-family: 'Vollkorn', serif;
    font-size: 1.7em;
    color: rgb(100,255,171);
    top: -7px;
    position: relative;
    border:none;
}


.infoInputContainer {
 	width: 95%;
	margin: 0px auto;
}
	
.infoContainer input {
	margin-left: 10px;
	border: none;
	background: rgb(160,255,221);
}

.infoInput{
	width: 100%;
	margin: 0 auto;
	
}


.info{
	display: inline-block;
    width: 30px;
    height: 30px;
    background: rgb(160,255,221);
    border-radius: 5px;
    position: relative;
    bottom: 15px;
}


.info label{
	display: block;
	font-family: 'Vollkorn', serif;
	font-size: 1.7em;
	color: rgb(100,255,171);
}

.info input {
	width: 100%;
	background: rgb(160,255,221);
	border-radius: 5px;
	height: 30px;
	border: none;
}



.info2{
	display: inline-block;
	width: 25%;
}

.info2 label{
	display: block;
	font-family: 'Vollkorn', serif;
	font-size: 1.7em;
	color: rgb(100,255,171);
}

.info2 input {
	width: 100%;
	background: rgb(160,255,221);
	border-radius: 5px;
	height: 30px;
	border: none;
}

#email{
	background: rgb(160,255,221);
}


.firstName{
	width: 28%;
}

.lastName{
	padding-left: 5%;
	padding-right: 5%;
	width: 28%;
}

.email{
	width: 32%;
}

.bottomInfoContainer{
	margin: 0px auto;
	width: 90%;
	min-height: 40px;
}

.commentContainer{ 
    width: 60%;
    height: 200px;
    float: left;
    display: inline;
}


.commentContainer label{
	display: block;
	display: block;
	font-family: 'Vollkorn', serif;
	font-size: 1.7em;
	color: rgb(100,255,171);
}

textarea{
	width: 98%;
	height: 85%;
	border-radius: 5px;
	background: rgb(160,255,221);
	border: none;
	cursor: pointer;
}



.logoNsubmit{
	width: 33%;
	display: inline;
	min-height: 30px;
	float: right;
	
}

button{
	outline: none;
	position: relative;
	transition:1s ease;
}

button:active{
	top: 5px;
}

.buttonLogo{
    background: url("../images/logo.svg");
    height: 104px;
    width: 100%;
    margin: 15px auto 20px;
    background-size: 100% 100%;
}

.submitBtn {
	background: url("../images/submit.svg");
	background-size: 100% 100%;
    height: 80px;
    width: 100%;
	margin: 0 auto;
	padding: 0px;
	border: none;
	cursor: pointer;

}

/*************
media queries
**************/

/*actual form */
@media screen and (max-width:400px){
	.Socialicons{
		padding-right: 35px;
	}	
	#footer{
		padding-left: 35px;
	}

}

@media only screen and (min-width:510px) and (max-width:600px){
		.submitBtn{
			margin: -30px auto;
		}
		
    }
  

@media screen and (min-width:789px) and (max-width: 1136px)  {

	.infoButton{
		display: inline;
    	padding-right: 7%;

	}


}

@media screen and (min-width:400px) and (max-width: 793px)  {
	.formContainer{
		transform: translateY(3%);
	}

	.fa-check{
		padding-left: 7px;
	}

	.header{
		text-align: center;
		color: #FFEF6C;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;
		font-size: 1.7em;
	}
	
	.infoInputContainer{
		margin: 0px auto;
	}
	
	.infoButton{
		display: block;
		text-align: left;
	}

	.info2{
		display: block;
		width: 100%;
		margin-top: 15px;
	}
	
	.info2 input{
		height: 35px;
	}

	.info2 label{
		text-align: center;
		font-size: 1.3em;
	}

	.infoButon label{
		font-size: 1.2em;
	}

	.lastName{
		padding-left: 0%;
		padding-right: 0%;
	}

	
	.buttonLogo{
		margin: 0px;
	}

	.submitBtn {
	    height: 50px;
    	/*top: 10px;
    	margin: 25px auto;*/
	}

	.commentContainer{
		height: 100px;
	}
	
	.commentContainer label{
		font-size: 1.3em;

	}

	.bottomInfoContainer{
		margin: 5px auto;
	}

}

/*footer*/
@media screen and (min-width:401px) and (max-width:479px ){
	#footer{
		padding-left: 10px;
	}
	.Socialicons{
		padding-right: 10px;
	}
}


/*checkboxes*/
@media screen and (min-width:1076px) {

	.infoContainer {
	    width: 70%;
	    margin: 0 auto;
	    text-align: center;

	}
}

@media screen and (min-width:869px) and (max-width:1075px ) {

	.infoContainer {
	    width: 90%;

	}
}

@media screen and (min-width:917px) and (max-width:1006px ) {

	.infoContainer {
	    width: 83%;

	}
}

@media screen and (min-width:1007px) and (max-width:1075px ) {

	.infoContainer {
	    width: 75%;
	
	}
}









@media only screen and (min-width:400px) and (max-width:600px)and (device-aspect-ratio: 40/71)and (-webkit-device-pixel-ratio: 2){
		
		.container{
			background: url("../images/bg.png") no-repeat 52% center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background
		}

		.header{
		font-size: 1.6em;
		}

		.infoInput input{
			height: 25px;
		}

		.submitBtn{
			margin: -40px auto;
		}
		.commentContainer{
			width: 100%;
		}
		.logo {
    		bottom: 80px; 
		}
		.logoNsubmit{
			width: 100%;
		}
		.buttonLogo{
			visibility: hidden;
		}
		.commentContainer label{
			text-align: center;
		}

		.bottomInfoContainer{
			margin: -15px auto;
		}
		#footer {
		    width: 60%;
		    float: left;
		    display: inline;
		    position: absolute;
		    bottom: 0px;
		    padding-left: 20px;
		    /* background: red; */
		    font-size: .5em;
		    font-family: 'Vollkorn', serif;
		}

		.Socialicons a i {
		    font-size: 1.5em;
		    margin: 5px;
		}

    }

@media only screen and (min-width:400px) and (max-width:670px){
		#footer {
		    font-size: .5em;
		    margin: 5px;
		}

		.Socialicons a i {
		    font-size: 1em;
		    padding: 5px 2px;
		}
}


/* iphone5 */
@media screen and (min-device-width: 320px) and (max-device-width: 414px)and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) { 
	 .container{
		background: url("../images/bg.png") no-repeat 52% center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.header {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    font-size: 1.3em;
	}
	.logo {
    	bottom: 0px;
    	top: 10px;
	}


	.Socialicons i {
	    font-size: 2em;
	    margin: 15px;
	    padding: 0px 60px;
	}

	.formContainer{
  	 	transform:scale(3);
    	max-height: 85%;
    	width: 95%;
    }

	.header {
	    padding-top: 20px;
	    /* padding-bottom: 0px; */
	    font-size: 1.1em;
	}
	.exit {
	    font-size: 1.5em;
	    position: relative;
	    right: 5px;
	}

	.fa-check {
    	top: 0px;
	    position: relative;
	    left: 3px;
	}
	
	.infoButton label {
    	font-size: 1em;
	}
	
    .logo{
    	bottom: 80px;
    }
	.info {
	    height: 20px;
	    width: 20px;
	    position: relative;
	    bottom: 8px;
	}

	.infoInputContainer {
	    width: 95%;
	    margin: 0px auto;

	}

    .info2{
    	width: 100%;
    	margin-top: 5px;
    }


    .info2 label {

    	font-size: 1em;
    	margin-bottom: 0px;
	}

	.info2 input {
    	height: 20px;
    	width: 100%;
	}

    .lastName{
    	padding: 0px;
    }
    .bottomInfoContainer {
	    margin: -25px auto;
	    /* width: 90%; */
	    /* min-height: 40px; */
	}
	.commentContainer {
    	height: 60px;
	}

    .commentContainer label{
    	font-size: 1em;
    }

	textarea {
 	   height: 100%;
	}


	#footer {
	    width: 100%;
	    display: block;
	    position: absolute;
	    bottom: 0px;
	    padding: 0px; 
	    font-size: 12px;
	}

	#footer p {
		float: none;
	}

	.Socialicons {
   		padding-right: 0px; 
    	width: 100%;
    	margin: 15px auto;
	}

	.Socialicons a {
		float: none;

	}
	
	.Socialicons a i {
       margin: 0px; 
	}

	.Socialicons i {
     padding: 0px 0px; 
	}

}

/*iphone 5 landscape*/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
		
	.mainAssets {
	    height: 200px;
	    width: 95%;
	    position: absolute;
	    margin: 0 auto;
	    right: 0;
	    left: 0;
	}

	.logo{
		top: 25px;
	}

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px)and (orientation: portrait) { 
    .logo{
    	bottom: 55px;
    }
}





/*iphone 6 landscape*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 
	.logoContainer {
	    position: relative;
	    top: 20px;
	}

	.mainAssets {
	    height: 200px;
	}

	.header{
		padding-top: 20px;
		padding-bottom: 0px;
	}
	.formContainer{
    	transform: translateY(6%);
	}

}

/*iphone6  portrait*/
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 
	.fa-check{
		font-size: 3em;
	}

	.formContainer{
		transform: translateY(-1%);
	}
	.header{
		padding-top: 20px;
		padding-bottom: 0px;
		font-size: 1.4em;
	}

	.info {
	    height: 20px;
	    width: 20px;
	    position: relative;
	   	bottom: 8px;
	}

	.info label{
		text-align: center;
	}

	.infoButton{	
		display: block;
	    padding-right: 7%;
	    text-align: left;
	}

	.infoButton label{
		font-size: 1em;
	
	}

	.info2{
		margin-top: 0px;
	}

	.info2 label {
    	text-align: center;
	}	

	.info2 input {
		height: 20px;
	}


	.commentContainer label {
 		font-size: 1em;
    	text-align: center;
	}

	.commentContainer{
    	height: 240px;
    	width: 100%;
	}

	.logoNsubmit{
		width: 100%;
	}

	.buttonLogo{
		display: none;
	}

	.submitBtn{
		margin-top: 90px;
		height: 150px;
	}


}

/*iphone 6+ landscape*/


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	transform : translateY(1%);
}


/*nexus 5x landscape*/

@media only screen and (min-device-width: 732px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 
	.header{
		padding-top: 20px;
		padding-bottom: 0px;

	}
	.formContainer{
		transform: translateY(3%);
	}


}


@media only screen and (device-width: 768px) {
  	textarea{
  		width: 100%;
  	}
}

/*iphon6 + landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.formContainer{
    	transform: translateY(6%);
	}

 }


/*******************
NEW MEDIA QUERIES
*******************/
/*
@media only screen and (min-width: 320px) and (max-width: 568px) {
	.logo{
		background: url("../images/logo.svg") no-repeat;
	    background-size: 100% 100%;
	    height: 65%;
	    width: 100%;
	    position: relative;
	    z-index: 2;
	}


}*/

/*@media only screen and (min-width: 320px) and (max-height: 568px){
		.logo{
		background: url("../images/logo.svg") no-repeat;
	    background-size: 100% 100%;
	    height: 65%;
	    width: 100%;
	    position: relative;
	    z-index: 2;
	}

}*/
