html{
	height:100%;
}

body{
	margin: 0px;
	padding: 0px;
	background-image: url("images/bg.png");
	background-image: 50% 50%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



